<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    
    <script type="text/javascript" src="js/bootstrap.js"></script>
    
    <style>



}



.login1{
	padding: 100px 0;
	//background: #4b3f34;
	color: black;
	width: 100%;


}
.login h1{
	font-size: 5%;
	line-height: 0;
}
.login a{
	font-size: 12px;
	line-height: 0;
}
.login span{
	color: black;
	font-size: 20px;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	padding: 15px;
	text-align: center;
	transition: 1s;
	background: #b0cd3b;
	cursor: pointer;
	margin-right: 25px;
	margin-top: 12px;
}



table, td, th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 3%;
}

th {
    height: 50px;
    text-align: center;
}





p{
  text-align: center;
  font-size: 30px;
  margin-right: 70px;
  margin-top: 30px;
  font-style: sans-serif;
}

#info{
  text-align: center;
  font-size: 17px;
  margin-right: 70px;
  margin-top: 30px;
  font-style: sans-serif;
}



    </style>

    
</head>
<body>
	
	
    
    
    
    
    
    
    
    
    
    
    
    <div class="header-area" style="background: rgba(58, 186, 201, 0.66);"> 
		<div class="header-top"> 

			<div class="container"> 
				<div class="logo col-md-3" style="color: white";> 
					<center><h3><b> Travel Guide </b></h3></center>
				</div>
				<div class="menu col-md-7"> 
					<ul class="list-unstyled list-inline pull-right">
						<li><a href="/signup" style="color:white;">SignUp</a></li>
						<li><a href="#loginscroll" style="color:white;">Login</a></li>
						
					</ul>
				</div>
				
			</div>
		</div>
		
		
	</div>
		
    
    
  
    
    <p><b> We Make Your Travel Easy <b></p><hr>

    	<p id="info">Easily Find Your Transports , Buy Any Transport Tickets , Get Information of Different Travel Agency And Trasport Counter</p>
    
    
  
    
<div class="container" id="loginscroll" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3 col-md-offset-4">
				<div class="panel panel-info">
					<div class="panel-heading"><strong>LOGIN</strong></div>
					<div class="panel-body">
						<form method="post">
							<div class="form-group">
								<label for="username">USERNAME</label>
								<input type="text" class="form-control" name="username">
							</div>
							<div class="form-group">
								<label for="password">PASSWORD</label>
								<input type="password" class="form-control" name="password">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
            
            
	</div>  
    

    
</body>
</html>