<!DOCTYPE html>
<html lang="en-US">
<head>
	
	<title>Bus Information</title>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    
    
      <style>
    

.header-top{ 
	
	padding: 1%;
}
.menu{
	margin-left: 150px;
}
.menu a{ 
	text-decoration: none;
/*	text-transform: uppercase;*/
	font-weight: bold;
	margin-left: 10px;
}
.menu a:hover{ 
	color: #657f3b;
}

    
}
.bottomimg img{
    float:right;
    overflow:hidden;
    margin-top: 440px;
}




.cushome{
    background: url(images/bestt.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   
    
}

    
}
.login h1{
	font-size: 5%;
	line-height: 0;
}
.login a{
	font-size: 12px;
	line-height: 0;
}
.login span{
	color: black;
	font-size: 20px;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	padding: 15px;
	text-align: center;
	transition: 1s;
	background: #b0cd3b;
	cursor: pointer;
	margin-right: 25px;
	margin-top: 12px;
}
.login span:hover{
	background: rgba(255,255,255,.2);
	color: #b0cd3b;
}

.signup{
	padding: 120px;
	
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 3%;
}

th {
    height: 50px;
    text-align: center;
}

     

    
    </style>
    
    
    
    
    
    
</head>


<body class="cushome">
    
	
		
		
		
		<div class="">
		<div class="cushome" > 
		<div class="chome"> 
			<div class="cus-top text-center"> 
				<div class="container"> 
					<h2>Admin Panel</h2>
                    <li><a href="/logout">Logout</a></li>
				</div>
			</div>
			<div class="cus-bottom" style="margin-top: 5%"> 
				<div class="portfolio"> 
			<div class="port-top text-center"> 
				
			</div>
			<div class="port-bottom"> 
				<div class="container"> 
					<div class="img-row1" style="margin-bottom: 20px;">
					<div class="img col-md-3"><a href="/adminuser"><img src="images/use.png" style="margin-bottom: 15px;" alt="" /></a></div>
					<div class="img col-md-3"><a href="/admindelete"><img src="images/dele.png" style="margin-bottom: 15px;" alt="" /></a></div>
					<div class="img col-md-3"><a href="/adminupdate"><img src="images/up.png" style="margin-bottom: 15px;" alt="" /></a></div>
					<div class="img col-md-3"><a href="/admincontrol"><img src="images/in.png" style="margin-bottom: 15px;" alt="" /></a></div>
				
					
				</div>
			</div>
		</div>
			</div>
		</div>
			
			
</div>
		
<!--
		<div class="signup col-sm-offset-8 col-md-8"> 
			<p>Not a registered user. Please Sign Up...</p>
			<button type="submit" class="btn btn-success">  </button>
			<button type="submit" class="btn btn-success"></button>
			<a href="cussignup.html">As Customer</a>
			
		</div>
-->
		
		
		
		
	</div>	
		
		
		
		
		
		
	
	
	
</body>
</html>